<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Happenings</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 55px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="mainpage.html">Happenings</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- putt innhold her -->
                <div class="row">
                    <div>
                        <h1 class="details-header">Sentrum Scene</h1>
                        <input class="check-in-button-details" type="image" src="../assets/red-icon.png" height="40px">
                    </div>
                </div>
                <div class="row">
                    <img src="../assets/images/SentrumScene.jpg" alt="Sentrum Scene" height="250px">
                </div>
                <!--/image-->
                <div class="row">
                    <h4>Info</h4>
                </div>
                     
                <div class="row info-text">
                    <p>Sentrum Scene er et innendørs konsertlokale på Arbeidersamfunnets plass i Oslo. Sentrum Scene er en del av Rockefeller Music Hall Company og har plass til ca 1750 tilskuere.</p>
                </div>
                <!--/.info-text-->
                <div class="row">
                    <h4>Events</h4>
                </div>
                <div class="row">
                    <ul class="event-detail-list" style="list-style-type:none">
                        <li>12.05: Zed: 18-23 Age: 20 CC: 350kr</li>
                        <li>12.05: KYGO: 18-23 Age: 20 CC: 420kr</li>
                        <li>13.05: Matoma: 18-23 Age: 20 CC: 280kr</li>
                        <li>14.05: Atle Antonsen: 18-23 Age: 20 CC: 150kr</li>
                    </ul>
                </div>
                <!--/Event-detail-list ul-->
                
                <div class="row">
                    <img class="facebook-friends-icon" src="../assets/images/facebook-friends-icon.jpg" height="20px" <span> 12 of your friends are here now!</span>
                <!--/Facebook-friends-->    
                </div>
                <div class="row">
                    <h4>Average queue time</h4>
                </div>
                <div class="row">
                    <img src="../assets/happy23.png" height="60px">
                </div>
                <!--/Smiley-->
            </div>
            <!-- /.col-lg-12-->
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    
    <!-- location.js Script -->
    <script src="js/locations.js"></script>

</body>

</html>
